.heroBg {
    background: linear-gradient(to top, #C3DDDD 0%, #046A86 100%);
}

.productPriceColor {
    color: #FFBF00;
}

.productButton {
    color: #ffffff;
    background-color: #FFBF00;
}

.comforterBg {
    background-color: #046A86;
    color: #ffffff;
}

.updateButton {
    color: #ffffff;
    background-color: #DFDFDF;
}

.textGray {
    color: #3D3D3D;
}

.cartText {
    color: #046A86;
}

.featureTextSpan {
    color: #606060;
}

.heroText {
    font-family: "Playfair Display SC",
        Bangla454,
        sans-serif;
}